.container{
    width: 100%;
    /* border: solid red; */
}

.alert{
    width: 60%;
}
.barras{
    width: 100%;
}
#avatar{
    width: 100%;
    /* background-color: rgb(159, 211, 218); */
}
#quitar{
    /* margin-left: 60%; */
    width: 100%;
    /* margin-top: -10px; */
}
