
  <div class="container w-100">
    <label class="barras"> 
      <span>Adjuntar Anexo <small>(Máximo 3 archivos de 3Mb)</small></span>
      <span>Archivos permitidos .pdf, .jpeg y jpg</span><br><br>
    </label>  
     
    <div *ngFor="let item of contador" class="custom-file mb-3">
      <div class="row aaa">
        <div class="col col-9">
          <input type="file"  
          id="avatar" name="anexo" (change)="selectFiles($event,item)"
          accept="image/png, image/jpeg,application/pdf" required>
        </div>
        <div class="col col-3">
          <button type="button" id="quitar" (click)=deleteAnexo(item) class="btn btn-danger">
            <i class="fas fa-trash"></i> Eliminar</button>
        </div>
        
      </div>  
      <hr><br>
    </div>
    
  </div>
  

  <br>
  <div *ngIf="this.contador.length<=2">
    <button type="button" class="btn btn-primary" (click)="agregarAnexo()">
      <i class="fas fa-plus"></i> Nuevo Anexo</button>
  </div>

  <br>
    <!-- <ngx-recaptcha2 #captchaElem
      [siteKey]="siteKey"
      (success)="handleSuccessCaptcha()">
    </ngx-recaptcha2> -->
  
    <!-- <div *ngIf="!valido">
      <div class="alert alert-danger" role="alert">{{ message }}</div>
    </div> -->


  

 
  
