html, 
body {
   border: solid green !important;
   width: 100%;
   height: auto;
   margin: 0;
	padding: 0;
	border: 0;
}
.head{
   display:flex;
   justify-content: space-between;
   text-align: center;
   color: #024D37;
   font-family:"Work Sans",sans-serif,sans-serif;
}
nav{
   background-color: #1c774d;
}
.div{
   display: inline-flex;
}
.div b{
   margin-top: 7%;
   font-size: 20px;
}
.div img{
   height: 80px;
}
.div2 img{
   justify-content: center;
   margin-left: 50px;
   height: 80px;
} 


/* Escudo */
.imgEscudo{
   width: 100%;
   height: auto;
}
/* Bandera */
.imgBandera{
   width: 100%;
   height: auto;
   margin-top: 30%;
}
.col-escudo{
   padding: 1.5rem 1.5rem 1.5rem 1.5rem ;
}