
<p></p>
<div class="container">
  <div class="row head">
    <div class="col col-2 col-escudo">
      <img src="{{empresa.escudoD}}" alt="escudoD" class="imgEscudo">
    </div>
    
    
    <div class="col col-6  text pt-4">
      <h3>Alcaldía {{empresa.municipio|titlecase}}</h3>      
      <h5>{{empresa.departamento|titlecase}} {{empresa.pais|titlecase}}</h5>                           
      <h5>Recepción y Seguimiento de Peticiones, Quejas, Reclamos, Sugerencias y Denuncias</h5>
    </div>

    <div class="col col-2">
      <img src="{{empresa.banderaD}}"  alt="banderad" class="imgBandera">
    </div>
    
    
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href=""> PQRSD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
       
        <li class="nav-item">
            <a class="nav-link" routerLink="list/files"><i class="fas fa-search"></i> Realizar Seguimiento de Pqrsd</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="upload/file"><i class="far fa-list-alt"></i> Subir</a>
        </li> -->
      </ul>
    </div>
  </nav>
    
    <router-outlet></router-outlet>
  </div>  
  <br>


  
    <!-- Footer -->
    <footer class="page-footer font-small blue-grey lighten-5">
      
      <div style="background-color:#21d192; "> <!-- #21d192; rgb(55, 136, 94)"-->
        <div class="container">
    
          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">
    
            <!-- Grid column -->
            <!-- <div class="div"> -->
              <!-- <img src="../assets/logo.png" alt="LogoAlcaldia"> -->
              <b>{{empresa.pie_pagina|titlecase}} {{empresa.municipio|titlecase}}</b>
            <!-- </div> -->
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">
              <a href="http://{{empresa.paginaWeb}}">
                <i class="fab fa-chrome"></i> Página Web Alcaldía {{empresa.municipio|titlecase}}
              </a>
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row-->
        </div>
      </div>
    
      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">
    
        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">
    
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Alcaldía {{empresa.municipio}}</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>{{empresa.descripcionFooterEmpresa}}
            </p>
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Nuestro Escudo</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <img src="{{empresa.escudoD}}" alt="" style="height: 100px;width:100px;">
            </p>
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Nuestra Bandera</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <img src="{{empresa.banderaD}}" alt="" style="height: 80px;width:140px ;">
            </p>    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-5 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contactenos</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fas fa-home mr-3"></i> {{empresa.direccion}}
            </p>
            <p>
              <i class="fas fa-envelope "></i> {{empresa.correo_electronico_entidad}}  
            </p>
            <p>
              <i class="fas fa-phone mr-3"></i> {{empresa.numero_celular}}
            </p>
            <p>
              <i class="fas fa-phone mr-3"></i> {{empresa.telefono_1}}
            </p>
            <p>
              <i class="fas fa-print mr-3"></i> {{empresa.fax}}
            </p>
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
      </div>
      <!-- Footer Links -->
    
      <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
        <a class="dark-grey-text" href=""> Cananguchal Soft</a>
      </div>
   
    </footer>
    <!-- Footer -->

  