
<div class="container">
  <br>
  <h3>Consultar Proceso</h3>
  <br>
  <div class="buscador row">
        <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
        <div class="input-group">
          <input type="text" class="form-control" 
          [(ngModel)]="radicado"  placeholder="Número de Radicado" (keyup.enter)="buscarPqrsd()">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"
              (click)="buscarPqrsd()">
              Consultar Proceso
            </button>
          </div>
        </div>
  </div>

  <br><br>
  <div class="row"  *ngIf="oficio.numero_radicado != null ">
    <div class="card text-black mb-3 col" >   
      <div class="informacion" *ngIf="oficio!=null && oficio.numero_radicado != null ">
        <h6> <b>Radicado del Oficio:</b> {{oficio.numero_radicado}} </h6> <br>
        <b>Fecha de Radicado: </b> {{oficio.fecha_radicado}}
        <br><br>
        <ng-container *ngIf="oficio.tipoDocumento != null then dosS; else dosN"></ng-container> 
        <ng-template #dosS><b>Tipo de Documento: </b>{{oficio.tipoDocumento.nombre_documento}}</ng-template>
        <ng-template #dosN>Oficio</ng-template>  
          <br><br>
        <ng-container *ngIf="oficio.descripcion_asunto != null then unoS; else unoN"></ng-container>     
          <ng-template #unoS><b>Asunto del Oficio: </b>{{oficio.descripcion_asunto}}</ng-template>
          <ng-template #unoN>Descripción Vacia</ng-template>
          <br><br>
        <ng-container *ngIf="oficio.fecha_limite_respuesta != null then dateS; else dateN"></ng-container> 
          <ng-template #dateS><b>Fecha Limite de Respuesta: </b>{{oficio.fecha_limite_respuesta}}</ng-template>
          <ng-template #dateN>Oficio</ng-template>  
          <br><br>
        <ng-container *ngIf="oficio.estado_documento then tresS; else tresN"></ng-container> 
          <ng-template #tresS><b>Estado del Oficio: </b>Oficio Activo </ng-template> 
          <ng-template #tresN>Oficio Inactivo</ng-template>    
          <br><br>
        <ng-container *ngIf="oficio.estado_contestado then cuatroS; else cuatroN"></ng-container> 
          <ng-template #cuatroS><b>Oficio Contestado (Revisar correo de respuesta ingresado previamente)</b> </ng-template> 
          <ng-template #cuatroN>Oficio Sin Contestar Aún</ng-template>    
          <br><br>
        <ng-container *ngIf="oficio.correo_envio !=null then cincoS; else cincoN"></ng-container> 
          <ng-template #cincoS><b>Correo de Respuesta: </b>{{oficio.correo_envio}}</ng-template> 
          <ng-template #cincoN>No Autorizó ningún correo de respuesta</ng-template> 
      
      
          <br>
        <div class="row row-qr">
            <div class="col col-btn-qr">
              <button class="btn btn-outline-success"  (click)="saveAsImage(parent)" >
                <i class="fas fa-download"></i>Descargar Código QR
              </button>
              <br><br>  
            </div>
            <div class="col col-qr">
              <qrcode class="qq" #parent [level]="1" [qrvalue]=oficio.codigo_qr></qrcode>
            </div>
          </div>
      </div> 
      
    </div>  

    <div class="tabla col">
        <div class="informacion" *ngIf="oficio.numero_radicado != null ">
          <section class="example-section">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1"
                  (click)="setVerAnexos()">
                <label class="form-check-label" for="exampleCheck1">Ver Anexos Adjuntos Al proceso</label>
              </div>
          </section>
        </div>
      <div  *ngIf="verAnexos && oficio.numero_radicado!=null">
        <br>
        <table class="table  bg-light" style="width: 90%;">
            <thead class="thead-Gray">
              <tr>
                <th scope="col">Nombre</th>
                <!-- <th scope="col">Identificador</th> -->
                <th scope="col">Revisar</th>
                <th scope="col">Descargar</th>
              </tr>
            </thead>
            <tbody *ngFor="let file of archivos">
              <tr>
                <td>{{file.nombre}}</td>
                <!-- <td>{{file.id_mongo}}</td> -->
                <td>
                  <a (click)="showFileInBrowser(file.id_mongo,file.nombre)"  class="btn btn-outline-primary">
                    <i class="fas fa-eye"></i> Ver
                  </a> 
                </td>
                <td>
                    <a (click)="downloadFile(file.id_mongo,file.nombre)"  class="btn btn-outline-success">
                      <i class="fas fa-download"></i>Descargar
                  </a> 
                </td>
              </tr>
            </tbody>
          </table> 
      </div>  
    </div>
  </div>
  <!-- Vista Imagen Anexo -->
  <!-- <div class="card card2 bg-light row" *ngIf="image!=null && verAnexos">
    <h5>Anexo:  {{nameImage}}</h5>
    <img [src]="image" class="img-fluid rounded" alt="Responsive image"  onClick="swipe();"
    id="largeImage">
  </div> -->
</div>

<ng2-pdfjs-viewer 
  #pdfViewerOnDemand
  [externalWindow]="true"
  [downloadFileName]="'mytestfile.pdf'"
  [openFile]="true"
  [viewBookmark]="false"
  [download]="false">
</ng2-pdfjs-viewer>

