.container{
    justify-content: center;
    text-align: center;
}
.informacion{
    text-align: left;
    /* width: 70%; */
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px 0px 15px 15px;
}
.card.card2{
    box-shadow: 0 4px 8px 0 rgba(168, 165, 165, 0.2);
    max-width: 45%;
}

.row-qr{
    padding-left: 2%;
    padding-top: 5%;
}
.col-btn-qr{
    padding-top: 5%;
}
.col-qr{
    width: 100%;
    padding-left: 2%;
}