<br>
<h4>Realizar peticiones, quejas, reclamos, sugerencias y denuncias </h4>
<br>
<p>Por favor tenga en cuenta las siguientes definiciones para establecer
    el tipo de solicitud a presentar y los términos de respuesta.</p>
<hr>
<h5>Seleccione el tipo de proceso que desea radicar:</h5>
<div class="list-group">
    <a [routerLink]="['/create/pqrsd']" [queryParams]="{tipoDocumento:'Peticion',idTipoPqrsd:'1'}" class="list-group-item list-group-item-action " >
      
      <div class="d-flex w-100 justify-content-between">
        <div>
          <img src="../../../assets/peticionIcon.png">
          <h5 class="mb-1">Petición</h5>
        </div>
        <!-- <small>3 days ago</small> -->
      </div>
      <p class="mb-1">Es una actuación por medio de la cual cualquier persona, 
        de manera respetuosa, solicita a la entidad pública cualquier información 
        relacionada con la prestación de cierto servicio o proceso</p>
    </a>
    
    <a [routerLink]="['/create/pqrsd']" [queryParams]="{tipoDocumento:'Queja',idTipoPqrsd:'2'}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <div>
          <img src="../../../assets/quejaIcon.png">
          <h5 class="mb-1">Queja</h5>
        </div>
        <!-- <small>3 days ago</small> -->
      </div>
      <p class="mb-1">Es la expresión o manifestación  de insatisfacción hecha
        por una persona natural o jurídica o su representante con respecto
        a la conducta o actuar de un funcionario público en desarrollo de sus funciones</p>
    </a>
    
    <a [routerLink]="['/create/pqrsd']" [queryParams]="{tipoDocumento:'Reclamo',idTipoPqrsd:'3'}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <div>
          <img src="../../../assets/reclamoIcon.png">
          <h5 class="mb-1">Reclamo</h5>
        </div>
        <!-- <small>3 days ago</small> -->
      </div>
      <p class="mb-1">Es el derecho que tiene toda persona de exigir, reivindicar o demandar 
        una solución, ya sea por motivo general o particular, referente a la presentación 
        indebida de un servicio o a la falta de atención de una solicitud previa.</p>    
    </a>

    <a [routerLink]="['/create/pqrsd']" [queryParams]="{tipoDocumento:'Sugerencia',idTipoPqrsd:'4'}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <div>
            <img src="../../../assets/sugerenciaIcon.png">
            <h5 class="mb-1">Sugerencia</h5>
          </div>
          <!-- <small>3 days ago</small> -->
        </div>
        <p class="mb-1">Es la manifestación de cualquier ciudadano de una idea o propuesta 
          para mejorar el servicio o la gestión de la entidad</p>
    </a>

    <a [routerLink]="['/create/pqrsd']" [queryParams]="{tipoDocumento:'Denuncia', idTipoPqrsd:'5'}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <div>
            <img src="../../../assets/denunciaIcon.png">
            <h5 class="mb-1">Denuncia</h5>
          </div>
          <!-- <small>3 days ago</small> -->
        </div>
          <br>
          <p class="mb-1">
            La denucia conciste en una narración de hechos presuntamente irregulares asociados a mala conducta o corrupción.
            <br>
            Para realizar la denuncia, debe brindarse información cierta, clara y específica del posible hecho o
            acto de corrupción y del funcionario o contratista que cometió la falta. La denuncia de corrupción
            o de conflictos de intereses debe relatar las circunstancias de modo, tiempo y lugar del hecho denunciado, así: 
            ¿qué ocurrió?, ¿cómo ocurrió?, ¿cuándo ocurrió?, ¿dónde ocurrió?, ¿quién lo hizo? y ¿quiénes participaron?.
            En caso de tenerlas, el denunciante debe aportar las pruebas de la denuncia
          </p>
      </a>
  </div>

