<div class="container contenedor">
  <h2 mat-dialog-title>{{data.tipo}} Creado con Éxito</h2>
  <div mat-dialog-content>Tu número de seguimiento es:</div>
  <h1> {{data.radicado}}</h1>

  <p>Te recomendamos guardar este número para realizar el seguimiento del proceso</p>


  <h3>
    <!-- <a [href]="href"(click)="downloadImage()" download>
      <i class="fas fa-download"></i> Descargar QR
    </a> -->
    <button class="btn btn-outline-success"  (click)="saveAsImage(parent)" >
      <i class="fas fa-download"></i> Descargar QR
    </button>
  </h3>
  <!-- SOLO PARA  PROBAR EL QR BORRAR -->
  <qrcode #parent [level]="1" [qrvalue]=data.codigo_qr></qrcode>
  
  <br><br><br>
  <div mat-dialog-actions>
    <!-- <button (click)="saveAsImage(parent)">Download QR Code Image</button> -->
    <button mat-button mat-dialog-close class="btn btn-primary">
      Aceptar</button>
  </div>

</div>

