<h4 style="text-align: center;">Registro de Tercero</h4>
<br>
<ngx-spinner
    bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" 
    type = "square-jelly-box" [fullScreen] = "true">
    <p style="color: white" > Cargando Tercero... </p>
</ngx-spinner>

<form class="form" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    
    <div class="row uno">
        <div class="col form-group">
            <label for="formControlSelect1">Tipo Identificación<b class="deco" >*</b></label>
            <select class="form-control"  [(ngModel)]="tipoSeleccionado.id" 
                id="formControlSelect1" (change)="setTipo($event)" name="tipo_identificacion"
                #tipo_identificacion="ngModel" required >
                <option value="" >- Tipo Identificación -</option>              
                <option [value]="tipo.id" *ngFor="let tipo of tiposI" >
                    {{tipo.nombre}}
                </option>
            </select>
            <small *ngIf="!tipo_identificacion.valid && tipo_identificacion.touched" class="invalid-feedback d-block">
                Seleccione El tipo de Identificación
            </small> 
        </div>
    
        <div class="col form-group">
            <label for="identificacion">Número Identificación<b class="deco" >*</b></label>
            <input type="number" name="identificacion" class="form-control"  #numero_identificacion="ngModel"
             [(ngModel)]="tercero.identificacion" required >
             <small *ngIf="!numero_identificacion.valid && numero_identificacion.touched" class="invalid-feedback d-block">
                Identificación Incompleta
            </small>   
        </div>
    </div>
 


    <div class="row">
        <div class="col form-group">
            <label for="name">Primer Nombre<b class="deco" >*</b></label>
            <input type="text" name="p_nombre" class="form-control" #p_nombre="ngModel"
                    [(ngModel)]="tercero.p_nombre" required pattern="[a-zA-Zàáâäãåąčćęèéêëėįìíîïł
                    ńòóôÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ðñ ,.'-]{2,48}">
            <small *ngIf="!p_nombre.valid && p_nombre.touched" class="invalid-feedback d-block">
                Nombre invalido
            </small>        
        </div>
        <div class="col form-group">
            <label for="segundoNombre">Segundo Nombre</label>
            <input type="text" name="s_nombre" class="form-control" #s_nombre='ngModel'
            [(ngModel)]="tercero.s_nombre"  pattern="[a-zA-Zàáâäãåąčćęèéêëėįìíîïłńòóôöõø
            ùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ðñÑ ,.'-]{2,64}">
        </div>
    </div>
    
    <div class="row">
        <div class="col form-group">
            <label for="p_apellido">Primer Apellido<b class="deco" >*</b></label>
            <input type="text" name="p_apellido" class="form-control" #p_apellido='ngModel'
            [(ngModel)]="tercero.p_apellido" required pattern="[a-zA-Zàáâäãåąčćęèéêëėįìíîïłńòóôöõø
            ùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ðñÑ ,.'-]{2,64}">
            <small *ngIf="!p_apellido.valid && p_apellido.touched" class="invalid-feedback d-block">
                Primer Apellido Invalido
            </small>
        </div>
        <div class="col form-group">
            <label for="s_apellido">Segundo Apellido</label>
            <input type="text" name="s_apellido" class="form-control" #s_apellido='ngModel'
            [(ngModel)]="tercero.s_apellido"  pattern="[a-zA-Zàáâäãåąčćęèéêëėįìíîïłńòóôöõø
            ùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ðñÑ ,.'-]{2,64}">
        </div>
    </div>
    
   




    <div class="form-group">
        <label for="email">Correo Electronico <span class="deco" >*</span></label>
        <input type="email" name="email" class="form-control" #email='ngModel'
        id="email" [(ngModel)]="tercero.email" required 
        pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
        <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
            Email Invalido
        </small> 
    </div> 

    <div class="row">
        <div class="col">
            <!-- <button type="button" class="btn btn-secondary">Cancelar</button> -->
            <div mat-dialog-actions>
                <button mat-button mat-dialog-close class="btn btn-secondary">Cancelar</button>
            </div>
            
        </div>
        <div class="col">
            <div mat-dialog-actions>
                <input type="submit" value="Registrarse" class="registrar btn btn-success btn-block"
                [disabled]="registerForm.invalid || tipoSeleccionado==null"/> 
            </div>
            
        </div>
        
    </div>
    
 </form>
 

