/* You can add global styles to this file, and also import other style files */

html, body {
    width: 100%;
     height: 100%;
     }
body { margin: 0; font-family: Roboto }
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @media (min-width: 576px){
    html,body{
        width: 100% !important;
        border: solid yellow;
    }
} */