<div class="container mat-typography w-100" >
   
   <ngx-spinner
      bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" 
      type = "square-jelly-box" [fullScreen] = "true">
      <p style="color: white" > Cargando... </p>
   </ngx-spinner>
   <br>
   <div  class="color">
      <h1 class="titulo">Recepción de PQRSD</h1>
      <h3> 
         <b>Para radir una {{nombreTipoDoc}} debe registrarse previamente.
            <a class="linkRegister" (click)="openModal()">Registrarse</a></b>
      </h3> 
      <hr><br>
      <h2 class="mat-h3" >Radicar {{nombreTipoDoc}}</h2> 
      <h2 class="centrado">Información de Contacto</h2>
   </div>
   
   <!-- Checkbox para Denucnia Anónima -->
   <div class="color" *ngIf="nombreTipoDoc=='Denuncia'">  
      <section class="example-section">
         <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="setAnonimo()">
            <label class="form-check-label" for="exampleCheck1">
               ¿Desea Radicar Denuncia Anónima? <i class="fas fa-user-secret"></i></label>
          </div>
      </section>
  </div>




  <!-- Form Tercero Basico + TipoProceso-->
  <form class="form" #terceroForm="ngForm">
   <div  *ngIf="!denunciaAnonima">  
      <div class="row">
         <!-- Tipo Identificacion -->
         <div class="col form-group">
            <label for="selectTipoIdentificacion">Tipo Identificación <b class="deco" >*</b> </label>
            <select  class="form-control" [(ngModel)]="tipoIdentSeleccionado.id" 
               id="selectTipoIdentificacion" (change)="setTipoIdentificacion(tipoIdentSeleccionado.id)" 
               name="tipoIdentificacion" #tipoIdentificacion="ngModel" required >
               <option value="">- Tipo Identificación -</option>
               <option [value]="tipo.id"   *ngFor="let tipo of tiposI" >  
                  {{tipo.nombre}}
               </option>
            </select>
            <small *ngIf="!tipoIdentificacion.valid && tipoIdentificacion.touched" class="invalid-feedback d-block">
               Seleccione Tipo de Identificación <i class="fas fa-exclamation-triangle"></i>
            </small>
            <small *ngIf="tipoIdentificacion.valid" class="valid-feedback d-block">
               Tipo Identificación Completada <i class="fas fa-check-circle"></i>
            </small> 
         </div>
         <!-- Numero Identificacion -->
         <div class="col form-group">
            <label for="identificacion">Número Identificación <b class="deco" >*</b></label>
            <div class="input-group">
               <input type="number" name="identificacion" class="form-control"  #identificacion="ngModel"
                  [(ngModel)]="tercero.identificacion" required 
                  (keyup.enter)="searchTerceroKeyEnter()" placeholder="Digite Identificación y presione Enter"
                  data-placement="top" title="Ingrese Número de idetificación y presione Enter para buscarse en el sistema">
                  <div class="input-group-append">
                     <button class="btn btn-outline-primary" type="button" (click)="searchTerceroKeyEnter()">
                        <i class="fas fa-search"></i>
                     </button>
                  </div>
            </div>      
            <small *ngIf="!identificacion.valid && identificacion.touched" class="invalid-feedback d-block">
               Identificación Incompleta
               <i class="fas fa-exclamation-triangle"></i>
            </small>   
            <small *ngIf="identificacion.valid" class="valid-feedback d-block">
               Identificación Completada
               <i class="fas fa-check-circle"></i>
            </small> 
         </div> 
      
      </div>
      <div class="form-row">
         <!-- Nombre -->
         <div class="col form-group col-name">
            <label for="name">Nombres</label>
            <input type="text" name="p_nombre" class="form-control" #p_nombre="ngModel"
                  [(ngModel)]="tercero.p_nombre" required pattern="[a-zA-Zàáâäãåąčćęèéêëėįìíîïł
                  ńòóôÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ðñ ,.'-]{2,48}" >
            <small *ngIf="!p_nombre.valid && p_nombre.touched" class="invalid-feedback d-block">
               Nombre inválido <i class="fas fa-exclamation-triangle"></i>
            </small> 
            <small *ngIf="p_nombre.valid" class="valid-feedback d-block">
               Nombre Completado <i class="fas fa-check-circle"></i>
            </small>       
         </div>
         <!-- Apellido -->
         <div class="col form-group col-lastname">
               <label for="surname">Apellidos</label>
               <input type="text" name="p_apellido" class="form-control" #p_apellido='ngModel'
               [(ngModel)]="tercero.p_apellido" required pattern="[a-zA-Zàáâäãåąčćęèéêëėįìíîïłńòóôöõø
               ùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ðñÑ ,.'-]{2,64}">
            <small *ngIf="!p_apellido.valid && p_apellido.touched" class="invalid-feedback d-block">
               Apellidos Inválido <i class="fas fa-exclamation-triangle"></i>
            </small>
            <small *ngIf="p_apellido.valid" class="valid-feedback d-block">
               Apellidos Completado <i class="fas fa-check-circle"></i>
            </small> 
         </div>
      </div>
   </div>  
   <!--End IfAnonima -->
   <div class="row">
      <section class="col example-section" >
         <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck2"
               (click)="setAutorizaCorreo()" checked>
            <label class="form-check-label" for="exampleCheck2">Autoriza Respuesta del proceso mediante correo electrónico?</label>
         </div>
      </section>
      <div class="col" *ngIf="autorizaCorreo"> 
         <div class="form-group is-valid">
            <label class="lEmail" for="correo_envio">Correo Electrónico De Respuesta</label>
            <input type="email" name="email" class="form-control" #correo_envio='ngModel' 
            [(ngModel)]="pqrsd.correo_envio" required 
            pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
            <small *ngIf="!correo_envio.valid && correo_envio.touched" class="invalid-feedback d-block">
               Email Invalido <i class="fas fa-exclamation-triangle"></i>
            </small> 
            <small *ngIf="correo_envio.valid" class="valid-feedback d-block">
               Correo Completado <i class="fas fa-check-circle"></i>
            </small> 
         </div>
      </div>
      
   </div>

   <br><br>
   <h2 class="centrado color">Información Del Proceso A Radicar</h2>
   <!-- Tipo de Proceso-->
   <div class="form-group">
      <label for="exampleFormControlSelect2">Tipo de {{nombreTipoDoc}} a Radicar <b class="deco" >*</b></label>
      <select class="form-control" [(ngModel)]="tipoDocumentoSeleccionado.nombre_documento" id="exampleFormControlSelect2" 
         (change)="setTipoDocumento($event)" name="tipoDocumento"  #tipo_proceso='ngModel' required > 
         <option value="" class="place">- Tipo Proceso -</option>
         <option  *ngFor="let tipo of tiposDocumento">
            {{tipo.nombre_documento}} 
         </option>
      </select>
      <small *ngIf="!tipo_proceso.valid && tipo_proceso.touched" class="invalid-feedback d-block">
         Seleccione un tipo de Proceso <i class="fas fa-exclamation-triangle"></i>
      </small> 
      <small *ngIf="tipo_proceso.valid" class="valid-feedback d-block">
         Tipo de Proceso Completado <i class="fas fa-check-circle"></i>
      </small> 
   </div>
   <br>
  </form>


   <!-- Formulario de PQrsd -->
   <form class="form" #pqrsdForm="ngForm" (ngSubmit)="crearPqrsd(pqrsdForm)">
      <!-- AUTORIZA Y EMAIL -->
      
      <!-- DESCRIPCION PQRSD -->
      <div class="form-group">
         <label for="descripcion_asunto">Descripción o Asunto de <b>{{nombreTipoDoc}}</b>  <b class="deco" > *</b></label>    
      <textarea class="form-control" name="descripcion_asunto" id="area" cols="30" rows="10" 
         #descripcion_asunto='ngModel'[(ngModel)]="pqrsd.descripcion_asunto" required>
      </textarea>
         <small *ngIf="!descripcion_asunto.valid && descripcion_asunto.touched" class="invalid-feedback d-block">
            Descripción Vacia <i class="fas fa-exclamation-triangle"></i>
         </small> 
         <small *ngIf="descripcion_asunto.valid" class="valid-feedback d-block">
            Descripción Completado <i class="fas fa-check-circle"></i>
         </small> 
      </div>



      

   
      
      <!-- Parte de los anexos -->
      <div class="">
         <section class="example-section">
            <div class="form-check">
               <input type="checkbox" class="form-check-input" id="exampleCheck3"
                  (click)="setAdjuntaAnexos()" >
               <label class="form-check-label" for="exampleCheck3">Adjuntar Anexos</label>
            </div>
         </section>
         <div class=""  *ngIf="adjuntaAnexos">
            <file-upload
            (propagar)="recibirAnexos($event)">
            </file-upload>
         </div>
      </div> 
         
 
         

         <div class="row boton">
            <!-- CHECK ACEPTA POLITICAS -->
            <div class="col">
               <section class="example-section">
                  <div class="form-check">
                     <input type="checkbox" class="form-check-input" id="exampleCheck4"
                        (click)="setPoliticaDatos()" >
                     <label class="form-check-label" for="exampleCheck4"><b>Acepto Política de Tratamineto de Datos Personales</b> <b class="deco" > *</b></label>
                  </div>
               </section>
            </div>
            <!-- BOTON REGISTRAR PQRSD -->
            <div class="col">
               
               <input type="submit" value="REGISTRAR PQRSD" class="registrar btn btn-success  btn-lg btn-block"
               [disabled]="(pqrsdForm.invalid ||  terceroForm.invalid && !denunciaAnonima)
                || (!this.identificado && !denunciaAnonima)
               || !tipoDoc  ||!tratamientoDatos"/> 
               
            </div>       
         </div>
         <!-- TEXTO DE POLITICA DE PRIVACIDAD -->
         <p class="row" *ngIf="tratamientoDatos">
            Mediante el registro de mis datos personales en el presente formato, autorizo a la Alcaldía {{empresa.municipio}} a realizar 
            el tratamiento de mis datos personales, actividad que incluye la recolección, almacenamiento, actualización, uso, circulación,
            transmisión, transferencia y supresión de los mismos con la finalidad de poder recibir respuesta y se gestione la satisfacción
            con respecto de esta, así como para que se me informe acerca de servicios propios del objeto social de Alcaldía {{empresa.municipio}} y
            para que se me solicite evaluar la calidad de los mismos.

            Para efectos de ejercer mis derechos a conocer, actualizar, rectificar y suprimir información, revocar la autorización, entre otros,
            podre acudir a la Alcaldía {{empresa.municipio}} como responsable del tratamiento.
            <a class="linkRegister" (click)="getPdfTrataminetoDatos()"><b>Leer Política de Tratamiento de Datos Personales</b></a>
         </p>
      
       

   </form>
</div>





<!-- PARA VISUALIZAR pdfs -->
   <ng2-pdfjs-viewer 
     #pdfViewerOnDemand
     [externalWindow]="true"
     [downloadFileName]="'PoliticaDatos.pdf'"
     [openFile]="true"
     [viewBookmark]="false"
     [download]="false">
   </ng2-pdfjs-viewer>





 