.titulo{
    font-size: 2rem; 
}
.color{
    color: #024D37;
}
.boton{
    /* padding-left:45% ; */
}
.registrar{

}
.linkRegister{
    color: rgb(18, 63, 136);
}
 .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    font-size: 20px;
  } 

  #area{
      width: 100%;
      /* border: solid .5px rgb(186, 221, 215); */
  }
  .deco{
      color:red
  }

  /* .ng-invalid:not(form)  { */
/* .ng-valid[required], .ng-valid.required,.ng-valid.touched  {
    border: 1px solid #a94442; 
} */

/* .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
  } */
.col-name{
   
    padding-right: 1.5%;
}
.col-lastname{
    padding-left: 1.5%; 
}
.ng-invalid.ng-touched:not(form){
    border: 1px solid #be4442; 
    background-color: #ffeeee;
}
/* los H3 son los dos textos del centro */
.centrado{
    text-align: center;
    font-weight: 400;
}
.ng-valid:not(form) {
    border: 1px solid rgb(17, 129, 73);
    background-color: #eaffef;
    /* font-weight: 500; */

}
